__pycache__/
*.pyc
bench_corpus/
fuzz/
/gzip
/gzip-debug
/gzip.exe
/tests
/bench
/fuzz-*
*.dSYM/
/gzip.c
/zip
/zip-debug
/zip.exe
/zip.c
/tests-lib
/tests-zip
/tests-zipcli
/tests-unzip
/tests-unzipcli
/unzip
/unzip-debug
/unzip.exe
/unzip.c
/libtugz.o
/tugz.c
/tests-amalg
/build*/
